@import url("./style/app.css");
@import url("./style/button.css");

html {
  font-size: 20px;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
