.app {
  height: 100%;

  color: rgb(182, 182, 182);

  background: #000000;
}

.app__inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 7rem;

  background: inherit;
}

.app__device-control {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.7rem 2rem;

  background: inherit;
  box-shadow: 0 0 5px #00000057;
}

.app__connect-info-panel {
  margin-left: 2rem;

  font-size: 1rem;
  color: #bdbdbd;

  user-select: none;
}

.app__chart-container {
  width: 80vw;
  margin-bottom: 2rem;

  background: #000000;
}

.app__chart-container_invisible {
  display: none;
}
